@page "/"
@if (GameNr == 0)
{
    <h3>Welcome to the Arcade!</h3>
    <p>Choose a game to play:</p>
}
<div class="game-selection">
    <button @onclick="() => GameNr = 1">Tetris</button>
    <button @onclick="() => GameNr = 2">Breakout</button>
</div>
@if (GameNr == 1)
{
    <Tetris />
}
@if (GameNr == 2)
{
    <Breakout />
}
