@page "/"
@inject NavigationManager _nav
<video muted loop id="bg">
    <source src="./css/BGTunnel.mp4" type="video/mp4" />
</video>

@if (GameNr == 0)
{
    <h3>Welcome to the Arcade!</h3>
    <p>Choose a game to play:</p>
}
<div class="game-selection">
    <button @onclick="@(() => _nav.NavigateTo("/Tetris"))">Tetris</button>
    <button @onclick="@(() => _nav.NavigateTo("/Breakout"))">Breakout</button>
    <button @onclick="@(() => _nav.NavigateTo("/Sudoku"))">Sudoku</button>
</div>
